* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2b1430, #8c399c, #2b1430);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: rgb(30, 30, 66);
    border-radius: 15px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.65);
    animation: fadeIn 1s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Bouton de téléchargement */
.uploader {
    margin: 20px 0;
}

.upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #6a11cb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.upload-btn:hover {
    background: #2575fc;
}

input[type="file"] {
    display: none;
}

/* Image */
.image-container {
    margin: 20px 0;
    overflow: hidden;
    max-height: 500px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.image-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Sliders */
.sliders {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.slider-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #6a11cb;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff6a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.download-btn:hover {
    background: #ff4500;
}
